<section id="messages">
    <% if (data.length > 0) { %>

    <% for (let i = 0; i < data[0].messages.length; i++) { %>

    <% if (data[0].messages[i].sender === data.clientid) { %>
    <div class="message messageSend" data-time="<%= data[0].messages[i].time %> ">
        <p>
            <%= data[0].messages[i].content %>
        </p>
    </div>
    <% } else { %>
    <div class="message messageRecieve">
        <img class="profilePic" src="img/profilePicture1x256.jpg" alt="Profiel foto van Hinze">
        <p>
            <%= data[0].messages[i].content %>
        </p>
    </div>
    <% } %>

    <% } %>

    <% } %>

</section>