<form id="messageForm" action="/chat" method="post">
    <input id="message" type="text" tabindex="1" name="message" placeholder="Type a message">
    <button id="sendMessage" type="submit" tabindex="1">
        <svg width="24" height="21" viewBox="0 0 24 21" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.0114107 0L0 8.68966L10.4762 10.5L0 12.3103L0.0114107 21L24 10.5L0.0114107 0Z" />
        </svg>
    </button>
</form>