<aside id="profiles">
    <div id="sideSearchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
    </div>

    <h2>Messages</h2>

    <% if (typeof users != "undefined") { %>

    <% for (let i = 0; i < users.length; i++) { %>

    <% if (users[i]._id != chats.clientid) { %>

    <form action="/changeChat" method="post">
        <button type="submit" name="changeChat" value="<%= users[i]._id %>">
            <img src="<%= users[i].imgHalfRes %>" alt="Profile picture of <%= users[i].username %>">
            <div class="profile">
                <h3>
                    <%= users[i].username %>
                </h3>
                <p>Last Message</p>
            </div>
        </button>
    </form>

    <% } %>

    <% } %>

    <% } %>
</aside>