<aside id="profiles">
    <div id="sideSearchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
    </div>

    <h2>Messages</h2>

    <% for (let i = 0; i < users.length; i++) { %>

    <form action="/changeChat" method="post">
        <button type="submit" name="changeChat" value="<%= users[i]._id %>">

            <div class="profile">
                <h3>
                    <%= users[i].username %>
                </h3>
                <p>Last Message</p>
            </div>
        </button>
    </form>

    <% } %>


</aside>