<section id="messages">
    <div class="message messageSend">
        <p>
            Hi, there
        </p>
    </div>

    <div class="message messageRecieve">
        <p>
            Hello
        </p>
    </div>

    <div class="message messageSend">
        <p>
            Hi, there
        </p>
    </div>
</section>