<form id="messageForm" action="/chat" method="post">
  <input type="text" id="message" name="message" placeholder="Type a message" tabindex="1" />

  <input type="checkbox" id="sendGif" name="sendGif" tabindex="1" />
  <label for="sendGif" id="gifButton">
    Send as gif
  </label>

  <input type="submit" id="sendMessage" tabindex="1" value="Send message">
</form>