<aside id="profiles">
    <div id="sideSearchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
    </div>

    <ul>
        <li>
            <form class="chatProfile" action="/changeChat" method="post">
                <button type="submit" name="changeChat" value="">
                    <div class="profile">
                        <img src="img/moffelMuts.png" alt="">
                        <h3>
                            Loes, 23
                        </h3>
                    </div>
                </button>
            </form>
        </li>

        <li>
            <form class="chatProfile" action="/changeChat" method="post">
                <button type="submit" name="changeChat" value="">
                    <div class="profile">
                        <img src="img/moffelMuts.png" alt="">
                        <h3>
                            Loes, 23
                        </h3>
                    </div>
                </button>
            </form>
        </li>
    </ul>

</aside>