<nav>
  <a class="logo" href="index.html">
    <img src="img/LOGO_MEALMATCH.svg" alt="Meal-match logo" />
  </a>

  <ul>
    <li><a href="likepage">Likes</a></li>
    <li><a href="likepage">Matches</a></li>
    <li><a href="likepage">Let's find some love</a></li>
  </ul>

  <a class="profilepicture" href="profile">
    <img src="img/profilepicture.jpg" alt="profilepicture" />
  </a>
</nav>