<div class="container">
  <h1>Log in</h1>
  <p>Do not have an account yet? <a href="register.ejs">Register!</a></p>

  <form action="/login" method="post">
    <label for="uname">Username</label>
    <input type="text" placeholder="Enter Username" name="uname" required />

    <label for="psw">Password</label>
    <input type="password" placeholder="Enter Password" name="psw" required />

    <div class="submitContainer">
      <button class="button" type="submit">Log in</button>
    </div>
  </form>
</div>
