<div class="container">
<h1>Register</h1>

<form>
      <fieldset>
      <label for="name"><b>First name</b></label>
      <input type="text" name="secondname" id="firstname" />

      <label for="middlename"><b>Middle name</b></label>
      <input type="text" name="middlename" id="middlename" />

      <label for="surname"><b>Surname</b></label>
      <input type="text" name="surname" id="surname" />

      <label for="gender" type="text"><b>Gender</b></label>
      <input type="radio"  name="gender" value="male" id="male" />
      <input type="radio"  name="gender" value="female" id="female" />
      <input type="radio"  name="gender" value="other" id="other" />


      <label for="age"><b>Age</b></label>
      <input type="date" name="age" id="age" />
    </fieldset>
    <fieldset>
      <label for="email"><b>Email</b></label>
      <input
        type="text"
        placeholder="Enter Email"
        name="email"
        id="email"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="psw"
        id="psw"
        required
      />

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input
        type="password"
        placeholder="Repeat Password"
        name="psw-repeat"
        id="psw-repeat"
        required
      />
    </fieldset>

    <p>
      By creating an account you agree to our <a href="#">Terms & Privacy</a>.
    </p>
    <button type="submit" class="button">Register</button>
  </div>

    <p>Already have an account? <a href="#">Sign in</a>.</p>

</form>
