<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") -%>

<body>
    <header>
        <%- include ("components/header.ejs") -%>
    </header>

    <main id="dashboard" class="centerOneScreen">
        <div class="bgImage">
            <div></div>
        </div>

        <section class="dashboardItems">
            <img src="img/moffelMuts.png" alt="User profile picture">
            <h1><%= data.name %></h1>
            <form action="/logout" method="post">
                <button class="submit-button" type="submit" tabindex="1">Log out</button>
            </form>

            <form action="/deleteUser" method="post">
                <button class="submit-button" type="submit" tabindex="1">Delete account</button>
            </form>
        </section>
    </main>
</body>

</html>