<!DOCTYPE html>
<html lang="en">

<%- include ("includes/head.ejs") %>

<body>
    <header>
        <h1>Index</h1>
    </header>

    <main>

    </main>

    <footer>

    </footer>

    <script src="js/script.js"></script>
</body>

</html>