<!DOCTYPE html>
<html lang="en">
<%- include ("components/head.ejs") %>

<body>
  <header>
    <%- include ("components/header.ejs") %>
  </header>

  <main id="likeForm">
    <h1>Start dating today</h1>

    <%- include ("components/likeForm.ejs") %>
  </main>

  <footer></footer>

  <script src="js/script.js"></script>
</body>

</html>