<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") %>

<body>
    <header>

    </header>

    <main>
        <h1>Log in</h1>
        <h2>Do not have an account yet? <a href="register.ejs">Register!</a></h2>

        <%- include ("components/loginForm.ejs") %>
    </main>

    <footer>

    </footer>

    <script src="js/script.js"></script>
</body>

</html>