<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") %>

<body>
    <header>
        <%- include ("components/header.ejs") %>
    </header>

    <main class="questions">

        <div class="bgImage">
            <div></div>
        </div>

        <div class="questionElement">
        <h1>Are you splitting the bill?</h1>

<form name="questionF" id="question" action="/questionFour" method="post"> 
    <label for=""></label>
    <label for="yes">Yes</label>
    <input type="radio" id="yes" name="questionF" value="yes">
    <label for="noI">No, I pay</label>
    <input type="radio" id="no" name="questionF" value="no, I pay">
    <label for="noO">No, the other person is paying</label>
    <input type="radio" id="no" name="questionF" value="no, the other person is paying">

    <button class="button" type="submit">continue</button>
</form>

</div>
    </main>

    <footer>

    </footer>

    <script src="js/script.js"></script>
</body>

</html>




