<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="style.css">

<%- include ("components/head.ejs") %>

<body>
    <header>
        <%- include ("components/header.ejs") %>
    </header>

    <main class="questions">

        <div class="bgImage">
            <div></div>
        </div>

        <div class="questionElement">
            <h1>Would you like to see eachother again?</h1>

            <form name="questionO" id="question" action="/questionOne" method="post">
                <label for="yes">Yes</label><br>
                <input type="radio" id="yes" name="questionO" value="yes">
                <label for="no">No</label><br>
                <input type="radio" id="no" name="questionO" value="no">

                <button type="submit" class="button">Next question</button>
            </form>

        </div>
    </main>

    <script src="js/script.js"></script>
</body>

</html>