<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") %>

<body>
    <header>
        <%- include ("components/header.ejs") %>
    </header>

    <main class="questions">
      <div class="bgImage">
        <div></div>
    </div>

    <div class="questionElement">
      <h1>On which points did you match the most?</h1>

      <input id="text-input" autocomplete="off" class="text-input style-scope ytcp-chip-bar" 
        aria-label="Tags" placeholder="add tags">
      
      <button class="button" type="next"><a href="questionFour">Next question</a></button>
    </div>
    </main>

    <footer>

    </footer>

    <script src="js/script.js"></script>
</body>

</html>