:root {
  --white: #fff;
  --black: #000;

  --purple: #832ead;
  --blue: #505eac;
  --cyan: #4398b5;

  --red: red;

  --purple-blue-gradient: linear-gradient(
    138deg,
    var(--purple) 0%,
    var(--cyan) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  font-family: 'Open Sans', sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--white);
}

h2 {
  font-weight: bold;
  font-size: 1.875;
  color: var(--white);
}

p {
  font-size: 1rem;
  color: var(--white);
}

body {
  overflow-x: hidden;
}

.bgImage {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

.bgImage div {
  width: 100vw;
  height: 100vh;

  transform: scale(1.1);

  filter: blur(4px);
  -webkit-filter: blur(4px);

  background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/loginBackground.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hideMobile {
  display: none;
}

.centerOneScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4.2rem);
  margin-top: 4.2rem;
}

/***********************
Buttons
***********************/

.submit-button {
  background-color: var(--purple);
  border-radius: 100rem;
  padding: 0.6rem 1.2rem;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: auto;
  transition: all 0.2s ease-out;
}

.submit-button:hover,
.submit-button:focus {
  outline: none;
  background-color: var(--blue);
}

/* text area  */
.textfield {
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 100rem;
  border: 1px solid var(--white);
  padding: 0.5rem 1.3rem;
  width: 100%;
  outline: none;
  margin-bottom: 1.2rem;
  display: inline-block;
}

.textfield:focus:invalid {
  border-color: var(--red);
}

/***********************
Header
***********************/
header {
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background: var(--blue);
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 4.2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

nav ul li {
  color: white;
  margin-left: 2rem;
}

nav ul li a,
nav ul li a:visited {
  color: white;
}

header .logo {
  height: 3rem;
}

header .logo svg {
  height: 100%;
  width: auto;
}

header .profilepicture {
  height: 3rem;
  margin-left: 2rem;
}

header .profilepicture img {
  border-radius: 100%;
  height: 100%;
}

.chatNav .userProfile {
  margin-left: auto;
  margin-right: 0;
}

/***********************
Login form
***********************/
#login .container {
  background: var(--purple-blue-gradient);
  max-width: 24rem;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

#login .container h1 {
  margin-bottom: 0.2rem;
}

#login .container p {
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

#login .container a {
  color: var(--white);
}

#login label {
  display: inline-block;
  color: var(--white);
  margin-bottom: 0.3rem;
}

#login .submitContainer {
  display: flex;
}

#login input[type='email'] {
  margin-bottom: 1.2rem;
}

#login .passwordBox {
  background-color: var(--white);
  border-radius: 100rem;
  padding: 0.6rem 1.4rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

#login .passwordBox input {
  width: 100%;
}

#login .passwordBox input:focus {
  outline: none;
}

.jsActive #login .passwordBox #toggle {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  background: url('../img/eye.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.jsActive #login .passwordBox #toggle.hide {
  width: 1.4rem;
  height: 1.4rem;
  background: url('../img/hide.svg');
}

/***********************
Like form
***********************/
#likeForm .text {
  background: var(--purple-blue-gradient);
  max-width: 24rem;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

#likeForm figure {
  width: 10em;
  height: 15em;
  overflow: hidden;
}

#likeForm img {
  object-fit: cover;
  width: 100%;
  border-radius: 0.6em;
}

#likeForm .person {
  display: flex;
  flex-direction: row;
}

#likeForm .addData {
  display: flex;
  justify-content: center;
  margin: 2em;
}

#likeForm .like {
  background-image: url(../img/like.svg);
}

#likeForm .megalike {
  background-image: url(../img/megalike.svg);
}

#likeForm .dislike {
  background-image: url(../img/dislike.svg);
}

#likeForm .reviewButtons {
  display: flex;
  justify-content: space-around;
  height: 1em;
}

#likeForm label {
  margin: 0.4em;
  padding: 2em;
  background-repeat: no-repeat;
  transition: 0.1s ease-out;
}

#likeForm .userId,
#likeForm #like,
#likeForm #megalike,
#likeForm #dislike {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

#likeForm label:hover {
  transition: 0.1s ease-out;
  margin: 0;
  padding: 2.4rem;
}

#likeForm .noMoreUsers {
  background: var(--purple-blue-gradient);
  max-width: 24rem;
  margin: 0 1rem;
  padding: 3rem;
  border-radius: 0.6rem;
}

/***********************
Register form
***********************/
#registerForm {
  margin: 6rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#registerForm fieldset {
  margin-bottom: 1.2rem;
  display: flex;
  border: none;
}

#registerForm .container {
  background: var(--purple-blue-gradient);
  max-width: 24rem;
  margin: 0 1rem;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
}

#registerForm label {
  color: var(--white);
  margin: 0.4rem;
}

#registerForm .reviewButtons {
  display: flex;
  justify-content: flex-start;
}

#registerForm .reviewButtons label {
  margin: 0 1rem 0 0;
}

#registerForm [type='radio'] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#registerForm [type='radio'] + label {
  border-radius: 100rem;
  padding: 0.5rem;
  background-color: var(--purple);
  color: var(--white);
  transition: 0.1s ease-out;
}

#registerForm [type='radio']:hover + label {
  box-shadow: inset 0px 0px 0px 2px var(--purple);
  transition: 0.1s ease-out;
}

#registerForm [type='radio']:checked + label {
  box-shadow: inset 0px 0px 0px 2px var(--purple);
  background-color: var(--white);
  color: var(--purple);
  transition: 0.1s ease-out;
  font-weight: bold;
}

#registerForm button {
  display: block;
  margin: 0.6rem 0 0.6rem auto;
}

/***********************
Chats
***********************/
.chatNav {
  display: flex;
  align-items: center;
}

.chatNav h1 {
  font-size: 2rem;
}

.chatNav a {
  margin-right: 1rem;
}

.chatNav svg {
  fill: var(--white);
  height: 1.4rem;
  width: auto;
}

.chatNav img {
  height: 3rem;
  width: auto;
  border-radius: 100rem;
}

#chats .chatComponents {
  width: 100%;
  max-width: 52rem;
  margin: 0 1rem;
  border-radius: 0.6rem;
}

#profiles {
  box-sizing: border-box;
  z-index: 5;
  grid-area: profiles;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;

  transform: translateX(-100%);

  width: 100%;
  height: 100vh;

  margin-top: 4rem;
  max-height: calc(100vh - 4rem);

  background-color: var(--white);
  padding: 0 1rem 1rem 1rem;
  transition: all 0.3s ease-out;
}

#profiles.active {
  transform: translateX(0);
}

#profiles li {
  margin-bottom: 1rem;
  border: 1px solid var(--purple);
  border-radius: 0.6rem;
  padding: 0.6rem;
}

#profiles li form {
  display: flex;
  align-items: center;
}

#sideSearchbar {
  width: 100%;
  background-color: var(--white);
  padding: 1rem 0 0.4rem 0;
  position: sticky;
  top: 0;
}

#sideSearchbar input {
  box-sizing: border-box;
  border-radius: 100rem;
  border: 1px solid var(--purple);
  width: 100%;
  padding: 0.6rem 1rem;
}

.chatProfile {
  margin-bottom: 1rem;
}

.chatProfile:last-child {
  margin-bottom: 0;
}

.chatProfile .profile {
  display: flex;
  align-items: center;
}

.chatProfile .profile img {
  height: 6rem;
  width: auto;
  border-radius: 0.6rem;
  margin-right: 1rem;
}

#messages {
  grid-area: chatMessages;
  background-color: var(--white);
  border-radius: 0.6rem 0.6rem 0 0;
  padding: 0 1rem;
  height: calc(100vh - 9rem);

  overflow-y: scroll;
}

/* style chat messages. */
.messageSend {
  justify-content: flex-end;
}

.messageSend p,
.messageSend img {
  background-color: var(--purple);
  color: var(--white);
}

.messageSend p::after,
.messageSend img::after {
  content: '';
  position: absolute;
  top: calc(100% - 14px);
  right: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 14px 12px 0;
  border-color: transparent var(--purple) transparent transparent;
}

.message {
  display: flex;
}

.message:first-child {
  margin-top: 1rem;
}

.message p,
.message img {
  display: inline-block;
  position: relative;
  max-width: 70%;

  margin-bottom: 1.6rem;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

.message img {
  max-width: 45%;
  max-height: 20rem;
}

.messageRecieve p,
.messageRecieve img {
  background-color: var(--blue);
}

.messageRecieve p::after,
.messageRecieve img::after {
  content: '';
  position: absolute;
  top: calc(100% - 14px);
  left: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 14px;
  border-color: transparent transparent transparent var(--blue);
}

.message img {
  padding: 1rem;
  border-radius: 0.6rem;
}
/* end msg style*/

#messageForm {
  grid-area: sendMessage;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.4rem 1rem;
}

#message {
  box-sizing: border-box;
  padding: 0 1rem;
  border: 1px solid var(--purple);
  height: 2.4rem;
  border-radius: 100rem;
  width: 100%;
  margin-right: 0.8rem;
  transition: all 0.2s ease;
}

#message:focus {
  border-color: var(--blue);
  outline: none;
}

#sendMessage {
  background-color: var(--purple);
  display: flex;

  border-radius: 100rem;
  justify-content: center;
  align-items: center;

  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem 0.6rem;

  transition: all 0.2s ease-out;
}

#sendMessage:hover,
#sendMessage:focus {
  outline: none;
  background-color: var(--blue);
}

#sendGif {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.messageSend .gifImg {
  max-width: 45%;
  margin-bottom: 1.6rem;
}

.messageRecieve .gifImg {
  max-width: 45%;
  margin-bottom: 1.6rem;
}

#gifButton {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0rem 0rem 0rem 0.1rem var(--blue);
  border-radius: 0.3rem;
  opacity: 0.75;

  width: 2.4rem;
  height: 1.6rem;
  margin-right: 0.8rem;
  padding: 0.4rem 0.6rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

#sendGif:checked + #gifButton {
  opacity: 1;
  background-color: var(--blue);
  box-shadow: none;
  transition: 0.1s ease-in-out;
}

#sendGif:checked + #gifButton svg {
  fill: var(--white);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#gifButton svg {
  animation-name: shake;
  animation-timing-function: ease;
  fill: var(--blue);
  width: 100%;
  transition: 0.1s;
}

#sendMessage svg {
  width: 24px;
  height: 21px;
  fill: var(--white);
}

/***********************
Users
***********************/
.chatUsers {
  width: 100vw;
  max-width: 32rem;
  background-color: var(--white);
  border-radius: 0.6rem;
  margin: 1rem;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: scroll;
}

.chatUsers #sideSearchbar {
  padding: 0;
  margin-bottom: 1rem;
}

/***********************
Dashboard
***********************/
#dashboard section {
  margin-top: 4rem;
  background-color: var(--purple-blue-gradient);
}

#dashboard form {
  margin-bottom: 1.4rem;
}

.dashboardItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardItems img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.dashboardItems h1 {
  margin-bottom: 1rem;
}

/* Tablet */
@media screen and (min-width: 48rem) {
  .hideMobile {
    display: inline-block;
  }

  .hideDesktop {
    display: none;
  }

  .chatNav ul {
    display: flex;
  }

  .chatNav .userProfile {
    margin-left: 1rem;
  }

  #chats .chatComponents {
    box-sizing: border-box;
    background: var(--purple-blue-gradient);
    width: 100%;

    max-width: 72rem;
    padding: 1rem;
    border-radius: 0.6rem;

    display: grid;
    grid-template-columns: 22rem 1fr;
    grid-template-rows: 1fr 4rem;
    grid-template-areas:
      'profiles chatMessages'
      'profiles sendMessage';
  }

  #messages {
    height: 75vh;
  }

  #profiles {
    position: initial;
    top: initial;
    left: initial;
    height: initial;
    max-height: calc(80vh + 1rem);
    width: initial;
    margin-top: 0;
    transform: translateX(0);

    border-radius: 0.6rem;
    margin-right: 1rem;
  }
}

/* Desktop */
@media screen and (min-width: 64rem) {
}

/* Animation */
@keyframes shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    transform: scale(1);
  }
}
